/* Colores */
/* Tipos de letra */
/* FOOTER */
footer {
  display: grid;
  grid-template-areas: "indice mapa redes" "indice mapa derechos";
  background-color: rgba(100, 253, 11, 0.445);
  padding: 24px; }
  footer .footer__indice {
    grid-area: indice;
    font-weight: bold; }
  footer .footer__indice li:hover {
    transform: scale(1.05, 1.2);
    background-color: #b8fa04;
    border-radius: 5px;
    transition: 0.5s; }
  footer .footer__mapa {
    grid-area: mapa; }
  footer .footer__redes {
    grid-area: redes;
    align-items: flex-end; }
  footer .footer__derechos {
    grid-area: derechos;
    align-items: flex-start; }
  footer .footer__indice ul li {
    font-size: 16px;
    margin: 20px; }
  footer .footer__iconos {
    width: 30px;
    height: 30px;
    margin: 20px; }

.nav-item:hover {
  background-color: #b8fa04;
  transform: scale(1.03, 1.03);
  border-radius: 5px;
  transition: 0.5s; }

.navbar-nav me-auto mb-2 mb-lg-0 {
  color: #080883; }

.nav-link {
  color: #080883; }
  .nav-link::selection {
    background-color: #029c0a;
    color: aliceblue; }

.active {
  color: #080883; }

/* Extend*/
.justify-centrado, footer .footer__redes, footer .footer__derechos, .main__titulo, .container {
  justify-content: center;
  display: flex; }

* {
  margin: 0px;
  /* Margen externo*/
  padding: 0px;
  /* Margen interno*/
  box-sizing: border-box; }

.header {
  width: 100%;
  background-color: rgba(100, 253, 11, 0.445);
  top: 0px;
  font-size: medium;
  font-weight: bolder;
  justify-content: center; }

.main__boton:hover {
  transform: scale(1.05, 1.05);
  border-radius: 1px;
  transition: 0.3s; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #dfdf90; }

h1 {
  font-family: "Indie Flower", cursive;
  color: #080883;
  text-align: center;
  width: 100%;
  margin-bottom: 30px; }
  h1::selection {
    background-color: #029c0a;
    color: aliceblue; }

h2 {
  font-family: "Indie Flower", cursive;
  color: #080883;
  margin: 16px; }
  h2::selection {
    background-color: #029c0a;
    color: aliceblue; }

h4 {
  font-family: "Indie Flower", cursive;
  margin: 16px; }
  h4::selection {
    background-color: #029c0a;
    color: aliceblue; }

h6 {
  font: bold;
  color: #080883; }
  h6::selection {
    background-color: #029c0a;
    color: aliceblue; }

p {
  padding: 0 16px;
  margin: 5px; }
  p::first-letter {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #080883; }
  p::selection {
    background-color: #029c0a;
    color: aliceblue; }

ul {
  list-style: none;
  padding: 0 20px; }

.main__principal {
  display: grid;
  height: 100vh;
  background-image: url(../resources/presentaciongaleria.jpg);
  background-size: cover;
  background-position: center;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr; }

.main__titulo {
  grid-column: 2/3;
  grid-row: 1/2;
  color: #c4f597;
  text-shadow: 10px 10px 50px greenyellow;
  font-size: 50px;
  align-items: flex-end; }

.container {
  flex-wrap: wrap; }

.card {
  width: 350px;
  margin: 40px;
  height: auto;
  display: flex;
  border: 5px solid #080883;
  border-radius: 10px;
  flex-direction: column;
  align-items: center; }
  .card__info {
    width: 90%;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgba(100, 253, 11, 0.445); }
    .card__info:hover {
      transform: scale(1.1, 1.1);
      border-radius: 25px;
      transition: 0.6s; }
  .card__imagen {
    width: 100%;
    height: 100%;
    margin-bottom: 20px; }

a {
  text-decoration: none;
  color: #080883; }
  a:visited {
    color: #080883; }

.productos__grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "prod7 prod1 prod1" "prod6 prod2 prod5" "prod6 prod3 prod4";
  background-color: #eeca7b;
  gap: 5px;
  padding: 20px; }
  .productos__grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
    filter: grayscale(100%); }
    .productos__grid img:hover {
      filter: grayscale(0); }
  .productos__grid .prod1 {
    grid-area: prod1; }
  .productos__grid .prod2 {
    grid-area: prod2; }
  .productos__grid .prod3 {
    grid-area: prod3; }
  .productos__grid .prod4 {
    grid-area: prod4; }
  .productos__grid .prod5 {
    grid-area: prod5; }
  .productos__grid .prod6 {
    grid-area: prod6; }
  .productos__grid .prod7 {
    grid-area: prod7; }

.carousel-inner {
  object-fit: contain;
  height: 90vh;
  width: 100%;
  padding: 16px; }

@media (min-width: 576px) and (max-width: 992px) {
  .productos__grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "prod7 prod2" "prod3 prod4" "prod5 prod6" "prod5 prod1"; }
  .carousel-inner {
    height: auto; }
  .ocultar {
    display: none; }
  footer {
    grid-template-areas: "indice" "mapa" "redes" "derechos";
    padding: 10px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .ancho {
    display: flex; }
  header {
    display: flex;
    height: auto;
    background-color: rgba(100, 253, 11, 0.726); }
  .header__lista {
    flex-direction: column;
    font-size: 20px; }
  .ocultar {
    display: none; }
  .productos__grid {
    display: flex;
    flex-direction: column; }
  footer {
    display: flex;
    flex-direction: column; }
    footer__mapa {
      display: flex; }
  .carousel-inner {
    height: auto; } }
