/* FOOTER */
footer {
    display: grid;
    grid-template-areas: "indice mapa redes"
                        "indice mapa derechos";
    background-color: $color-principal;
    padding: 24px;

    .footer{
        &__indice {
            grid-area: indice;
            font-weight: bold;
        }
        &__indice li:hover {
            transform: scale(1.05, 1.20);
            background-color: rgb(184, 250, 4);
            border-radius: 5px;
            transition: 0.5s;
        }
        &__mapa {
            grid-area: mapa;
        }
        &__redes {
            grid-area: redes;
            @extend .justify-centrado;
            align-items: flex-end;
        }
        &__derechos {
            grid-area: derechos;
            @extend .justify-centrado;
            align-items: flex-start;
        }
        &__indice ul li {
            font-size: 16px;
            margin: 20px;
        }
        &__iconos {
            width: 30px;
            height: 30px;
            margin: 20px;
        }        
    }
}