/* Colores */
$color-principal: rgba(100, 253, 11, 0.445);
$color-selector: rgb(2, 156, 10);
$color-selector-letras: aliceblue;
$color-letras-principal: rgb(8, 8, 131);
/* Tipos de letra */
$font-principal: 'Roboto', sans-serif;
$font-titulos: 'Indie Flower', cursive;



