@import "variables";
@import "footer";
@import "nav";
@import "operators";

*{
    margin: 0px; /* Margen externo*/
    padding: 0px; /* Margen interno*/
    box-sizing: border-box;
}
.header{
    width: 100%;
    background-color: $color-principal;
    top: 0px;
    font-size: medium;
    font-weight: bolder;
    justify-content: center;
}
.main__boton:hover {
    transform: scale(1.05, 1.05);
    border-radius: 1px;
    transition: 0.3s;
}
body {
    font-family: $font-principal;
    background-color: rgb(223, 223, 144);
    
}
h1 {
    font-family: $font-titulos;
    color: $color-letras-principal; 
    text-align: center;
    width: 100%;
    margin-bottom: 30px;

    &::selection{
        background-color: $color-selector;
        color: $color-selector-letras;
    }
}
h2 {
    font-family: $font-titulos;
    color: $color-letras-principal; 
    margin: 16px;

    &::selection{
        background-color: $color-selector;
        color: $color-selector-letras;
    }
}    
h4 {
    font-family: $font-titulos;
    margin: 16px;

    &::selection{
        background-color: $color-selector;
        color: $color-selector-letras;
    }
}
h6 {
    font: bold;
    color: $color-letras-principal;

    &::selection{
        background-color: $color-selector;
        color: $color-selector-letras;
    }
}
p{
    padding: 0 16px;
    margin: 5px;

    &::first-letter {
        font-size: larger;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: $color-letras-principal;
    }
    &::selection{
        background-color: $color-selector;
        color: $color-selector-letras;
    }
}
ul{
    list-style: none;
    padding: 0 20px;
}
.main__principal{
    display: grid;
    height: 100vh;
    background-image: url(../resources/presentaciongaleria.jpg);
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.main__titulo{
    grid-column: 2/3;
    grid-row: 1/2;
    color: rgb(196, 245, 151);
    text-shadow: 10px 10px 50px greenyellow;
    font-size: 50px;
    align-items: flex-end;
    @extend .justify-centrado;
}
.container {
    @extend .justify-centrado;
    flex-wrap: wrap;
}
.card {
    width: 350px;
    margin: 40px;    
    height: auto;
    display: flex;
    border: 5px solid $color-letras-principal;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;

    &__info {
        width: 90%;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 20px;
        padding: 5px;
        background-color: $color-principal;

        &:hover {
            transform: scale(1.10, 1.10);
            border-radius: 25px;
            transition: 0.6s;
        }
    }    
    &__imagen {
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }
}
a{
    text-decoration: none;
    color:$color-letras-principal;

    &:visited {
        color:$color-letras-principal;
    }
}
.productos__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:"prod7 prod1 prod1"
                        "prod6 prod2 prod5"
                        "prod6 prod3 prod4";
    background-color: rgb(238, 202, 123);
    gap: 5px;
    padding: 20px;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .2s;
        filter: grayscale(100%);
    
        &:hover{
            filter: grayscale(0);
        }
    }

    .prod1 {
        grid-area: prod1;
    }
    .prod2 {
        grid-area: prod2;
    }
    .prod3 {
        grid-area: prod3;
    }   
    .prod4 {
        grid-area: prod4;
    }
    .prod5 {
        grid-area: prod5;
    }
    .prod6 {
        grid-area: prod6;
    }
    .prod7 {
        grid-area: prod7;
    }   
}
.carousel-inner {
    object-fit: contain;
    height: 90vh;
    width: 100%;
    padding: 16px;
}
.espacio {
    height: 100vh;
}
@import "mediaqueries";